[submodule "services/edusubmit-student-service"]
	path = services/edusubmit-student-service
	url = https://github.com/ShenSingh/edusubmit-student-service.git
[submodule "services/edusubmit-submission-service"]
	path = services/edusubmit-submission-service
	url = https://github.com/ShenSingh/edusubmit-submission-service.git
[submodule "services/edusubmit-file-service"]
	path = services/edusubmit-file-service
	url = https://github.com/ShenSingh/edusubmit-file-service.git
